<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>

  <div  class="files-list" *ngFor="let file of files;let i=index">
    <button class="delete-file" (click)="deleteAttachment(i)">
      <img src="../../assets/Recycle_Bin_Full.png">
    </button>

  </div>
<br>
<br>
  <div style="text-align: center">
    <h3>Enter Goal</h3>
    <input style="width:40%" placeholder="ex 10,2,3" [(ngModel)]="name">

  </div>
  <br>
  <br>
  <div style="text-align: center;">
<pre>{{goal}}</pre>
    <button class="btn waves-effect waves-light" type="submit" name="action" (click)="send()">Submit
      <i class="material-icons right">send</i>
    </button>

    <br>
    <br>
    <button class="btn waves-effect waves-light" type="submit" name="action" (click)="send1()">Visualize
      <i class="material-icons right">send</i>
    </button>
  </div>
  